body{
	
}

#models div, #mapView div {
	border:1px solid #ccc;
	position: relative;
}

[type=number]{
	width:50px;
}

.deviceLogo{
	width:50px;
}

.close{
	width: 14px;
	float: right;
	top: 2px;
	position: absolute;
	right: 5px;
	cursor: pointer;
}