HOST	127.0.0.1:3306
DB		vrpn
USER	root
#PASSWD	

SAVE_DIR SAVES

PATIENT	PAULO


DEV	Tracker0@localhost


#KEY	KINECT_LEFT_HAND_FAST	ALERT=Diminua a velocidade. #n�o podera existir nenhum comando apos alert ou message
#KEY	KINECT_RIGHT_HAND_FAST	MESSAGE=Diminua a velocidade.

KEY KINECT_BALANCE=>30	ALERT=Equilibrio

#KEY KINECT_TOP_ADD=0.05	VK_SPACE

KEY KINECT_TOP_ADD=0.05 BTNDOWN=VK_SPACE	ONLEAVE BTNUP=VK_SPACE

KEY KINECT_RIGHT_HAND_TOP=>4	BTNDOWN=VK_SHIFT	ONLEAVE BTNUP=VK_SHIFT
KEY KINECT_LEFT_HAND_TOP=->4	BTNDOWN=VK_SHIFT	ONLEAVE BTNUP=VK_SHIFT

KEY KINECT_RIGHT_HAND_TOP=0,3	BTNDOWN=W	ONLEAVE BTNUP=W
KEY KINECT_LEFT_HAND_TOP=0,3   BTNDOWN=W   ONLEAVE BTNUP=W

KEY KINECT_RIGHT_HAND_TOP=1,3	BTNDOWN=D	ONLEAVE BTNUP=D
KEY KINECT_LEFT_HAND_TOP=-1,3   BTNDOWN=A   ONLEAVE BTNUP=A
