HOST	tcp://127.0.0.1:3306
DB		vrpn
USER	root
#PASSWD	

SAVE_DIR SAVES

PATIENT	PAULO

APP Notepad

DEV	Tracker0@localhost

KEY	KINECT_LEFT_HAND_FAST	ALERT	Diminua a velocidade.
KEY	KINECT_RIGHT_HAND_FAST	MESSAGE	Diminua a velocidade.

KEY KINECT_TOP_ADD	1	0.15
KEY KINECT_TOP_DEC	2	0.15
KEY KINECT_LEFT_HAND_TOP	O	5 #5 MAX - 1 MIN
#KEY KINECT_LEFT_HAND_TOP	K	4
#KEY KINECT_LEFT_HAND_TOP	N	3
#KEY KINECT_LEFT_HAND_TOP	C	2
#KEY KINECT_LEFT_HAND_TOP	Q	1

KEY KINECT_RIGHT_HAND_TOP	P	5
#KEY KINECT_RIGHT_HAND_TOP	L	4
#KEY KINECT_RIGHT_HAND_TOP	M	3
#KEY KINECT_RIGHT_HAND_TOP	V	2
#KEY KINECT_RIGHT_HAND_TOP	W	1


#DEV	Mouse0@localhost

#KEY	VK_LBUTTON	A
#KEY	VK_MBUTTON	B
#KEY VK_RBUTTON	C


#DEV Keyboard0@localhost

#KEY	A	B
#KEY	VK_LEFT	VK_BACK
#KEY	VK_RIGHT	VK_DELETE
#KEY	VK_UP	VK_TAB
#KEY	VK_DOWN	VK_RETURN
