HOST	localhost
DB		vrpn-team
USER	root
PASSW	root


APP Notepad

DEV	Tracker0@localhost

KEY KINECT_TOP_ADD	A	0.01
KEY KINECT_TOP_DEC	D	0.01


#DEV	Mouse0@localhost

#KEY	0	A
#KEY 1	VK_LEFT
#KEY	2	B

#DEV Keyboard0@localhost

#KEY	2	U
#KEY	3	U