HOST	tcp://127.0.0.1:3306
DB		vrpn
USER	root
#PASSWD	

SAVE_DIR SAVES

PATIENT	PAULO

#APP Notepad
#APP Mount&Blade Warband

DEV	Tracker0@localhost

KEY	KINECT_LEFT_HAND_FAST	ALERT=Diminua a velocidade. #não podera existir nenhum comando apos alert ou message
KEY	KINECT_RIGHT_HAND_FAST	MESSAGE=Diminua a velocidade.


#KEY KINECT_WALK	T #MARCHA ESTACIONARIA




#utilizando o KINECT_DETERMINE_CENTER_POS pode funcionar melhor
#KEY KINECT_TURN_RIGHT   H
#KEY KINECT_TURN_LEFT    F

# REQUER o KINECT_DETERMINE_CENTER_POS pode funcionar melhor
#KEY KINECT_BODY_FRONT	W
#KEY KINECT_BODY_BACK	S
#KEY KINECT_BODY_RIGHT	D
#KEY KINECT_BODY_LEFT	A

#KEY KINECT_TOP_ADD=0.15	1
#KEY KINECT_TOP_DEC=0.15	2

#								5 MAX - 1 MIN
#KEY KINECT_LEFT_HAND_TOP	O	5
#KEY KINECT_LEFT_HAND_TOP	K	4
#KEY KINECT_LEFT_HAND_TOP	N	3
#KEY KINECT_LEFT_HAND_TOP	C	2
#KEY KINECT_LEFT_HAND_TOP	Q	1

#KEY KINECT_RIGHT_HAND_TOP	P	5
#KEY KINECT_RIGHT_HAND_TOP	L	4
#KEY KINECT_RIGHT_HAND_TOP	M	3
#KEY KINECT_RIGHT_HAND_TOP	V	2
#KEY KINECT_RIGHT_HAND_TOP=1	W

#KEY KINECT_RIGHT_HAND_TOP=3	W


#MOUNT AND BLADE

KEY KINECT_RIGHT_HAND_TOP=5	KINECT_DETERMINE_CENTER_POS

#GIRAR

KEY KINECT_TURN_RIGHT   VK_MOUSEMOVE=10,0
KEY KINECT_TURN_LEFT    VK_MOUSEMOVE=-10,0

#ANDAR

KEY KINECT_WALK	BTNDOWN=W	ONLEAVE	BTNUP=W
#KEY KINECT_BODY_FRONT	BTNDOWN=W	ONLEAVE	BTNUP=W
#KEY KINECT_BODY_BACK	BTNDOWN=S	ONLEAVE	BTNUP=S
#KEY KINECT_BODY_RIGHT	BTNDOWN=D	ONLEAVE	BTNUP=D
#KEY KINECT_BODY_LEFT	BTNDOWN=A	ONLEAVE	BTNUP=A

#ATACAR

#PELA DIREITA
KEY KINECT_RIGHT_HAND_TOP=2,2	VK_MOUSEMOVE=1,0
KEY KINECT_RIGHT_HAND_TOP=2,2	VK_LBUTTON_DOWN
KEY KINECT_RIGHT_HAND_TOP=1,2	VK_MOUSEMOVE=1,0
KEY KINECT_RIGHT_HAND_TOP=1,2	VK_LBUTTON_DOWN


#POR CIMA

KEY KINECT_RIGHT_HAND_TOP=0,4	VK_MOUSEMOVE=0,-1
KEY KINECT_RIGHT_HAND_TOP=0,4	VK_LBUTTON_DOWN

#PELA ESQUERDA

KEY KINECT_RIGHT_HAND_TOP=-2,2	VK_MOUSEMOVE=-1,0
KEY KINECT_RIGHT_HAND_TOP=-2,2	VK_LBUTTON_DOWN
KEY KINECT_RIGHT_HAND_TOP=-1,2	VK_MOUSEMOVE=-1,0
KEY KINECT_RIGHT_HAND_TOP=-1,2	VK_LBUTTON_DOWN


KEY KINECT_RIGHT_HAND_TOP=0,3	VK_LBUTTON_UP
KEY KINECT_RIGHT_HAND_TOP=0,2	VK_LBUTTON_UP

#DEFENDER

KEY KINECT_LEFT_HAND_TOP=0,3	BTNDOWN=VK_RBUTTON_DOWN	ONLEAVE	BTNUP=VK_RBUTTON_UP
KEY KINECT_LEFT_HAND_TOP=0,2	BTNDOWN=VK_RBUTTON_DOWN	ONLEAVE	BTNUP=VK_RBUTTON_UP

#						  XPOS,YPOS	 BTN
#KEY KINECT_RIGHT_HAND_TOP=2,2	VK_MOUSEMOVE=20,0
#KEY KINECT_RIGHT_HAND_TOP=1,2	VK_MOUSEMOVE=10,0
#KEY KINECT_RIGHT_HAND_TOP=0,2	VK_MOUSEMOVE=-10,0
#KEY KINECT_RIGHT_HAND_TOP=-1,2	VK_MOUSEMOVE=-20,0
#KEY KINECT_RIGHT_HAND_TOP=-2,2	5

#KEY KINECT_LEFT_HAND_TOP=-2,3	7
#KEY KINECT_LEFT_HAND_TOP=-1,3	4
#KEY KINECT_LEFT_HAND_TOP=0,3	1

#KEY KINECT_LEFT_HAND_TOP=0,3	VK_MOUSEMOVE=-100,0



#DEV	Mouse0@localhost

#KEY	VK_LBUTTON	A
#KEY	VK_MBUTTON	B
#KEY VK_RBUTTON	C


#DEV Keyboard0@localhost


#KEY	Z	VK_LBUTTON_DOWN
#KEY	X	VK_LBUTTON_UP

#KEY	C	VK_RBUTTON_DOWN
#KEY	V	VK_RBUTTON_UP

#KEY	VK_LEFT	VK_MOUSEMOVE -100 0
#KEY	VK_RIGHT	VK_MOUSEMOVE 100 0
#KEY	VK_UP	VK_MOUSEMOVE 0 -100
#KEY	VK_DOWN	VK_MOUSEMOVE 0 100

#KEY	A	B
#KEY	VK_LEFT	VK_BACK
#KEY	VK_RIGHT	VK_DELETE
#KEY	VK_UP	VK_TAB
#KEY	VK_DOWN	VK_RETURN
